<div class="cmd cmd-widget #history#" data-type="info" data-subtype="string" data-template="picture" data-cmd_id="#id#"
    data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="">
    <div class="content-xs">
        <div class="cmdName #hide_name#">#name_display#

        </div>
        <img src="#value#" class="value" style="max-width: 245px; max-height: 350px;">
    </div>
    <template>
        <div>maxHeight : 200 ({{Hauteur maximale en pixel}})</div>
        <div>Height : 200 ({{Hauteur en pixel}})</div>
    </template>
    <script>
        jeedom.cmd.addUpdateFunction('#id#', function (_options) {
            if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
                cmd.querySelector('.content-xs').setAttribute('title', '{{Date de valeur}}: ' + _options.valueDate + '<br>{{Date de collecte}}: ' + _options.collectDate)

                var img = cmd.querySelector('.value');
                var fallbackUrl = '/plugins/ProJote/data/#eqLogic_id#/profile_picture.jpg'; // <-- Remplace par ton URL de secours

                // Fonction de fallback si l'image ne charge pas
                var triedFallback = false;
                img.onerror = function () {
                    if (!triedFallback && img.src !== fallbackUrl) {
                        img.src = fallbackUrl;
                        triedFallback = true;
                    } else {
                        // Optionnel : afficher une image par défaut ou masquer l'image
                        img.style.display = 'none';
                        // envoie un message à la console pour indiquer que l'image n'a pas pu être chargée
                        console.warn('Image could not be loaded, using fallback URL:', fallbackUrl);
                    }
                };

                img.src = _options.display_value;

                if (_options.alertLevel == 'warning') {
                    img.innerHTML = '<span class="label label-warning"><i class="fas fa-bell"></i> ' + _options.value + '</span>'
                } else if (_options.alertLevel == 'danger') {
                    img.innerHTML = '<span class="label label-danger"><i class="fas fa-exclamation"></i> ' + _options.value + '</span>'
                }
            }
        });

        jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#value#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#' }]);

        if (is_numeric('#maxHeight#')) {
            document.querySelector('.cmd[data-cmd_uid="#uid#"]').style.maxHeight = '#maxHeight#px'
        }
        if (is_numeric('#Height#')) {
            document.querySelector('.cmd[data-cmd_uid="#uid#"]').style.maxHeight = '#Height#px'
        }
    </script>
</div>