<div class="cmd cmd-widget #history#" data-type="info" data-subtype="string" data-template="picture" data-cmd_id="#id#"
    data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
    <div class="content-xs">
        <div class="cmdName #hide_name#">#name_display#

        </div>
        <img src="#value#" class="value" style="max-width: 245px; max-height: 350px;">
    </div>
    <template>
        <div>maxHeight : 200 ({{Hauteur maximale en pixel}})</div>
        <div>Height : 200 ({{Hauteur en pixel}})</div>
    </template>
    <script>
        jeedom.cmd.addUpdateFunction('#id#', function (_options) {
            if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
                cmd.querySelector('.content-xs').setAttribute('title', '{{Date de valeur}}: ' + _options.valueDate + '<br>{{Date de collecte}}: ' + _options.collectDate)

                cmd.querySelector('.value').src = _options.display_value

                if (_options.alertLevel == 'warning') {
                    cmd.querySelector('.value').innerHTML = '<span class="label label-warning"><i class="fas fa-bell"></i> ' + _options.value + '</span>'
                } else if (_options.alertLevel == 'danger') {
                    cmd.querySelector('.value').innerHTML = '<span class="label label-danger"><i class="fas fa-exclamation"></i> ' + _options.value + '</span>'
                }
            }
        })

        jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#value#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#' }])

        if (is_numeric('#maxHeight#')) {
            document.querySelector('.cmd[data-cmd_uid="#uid#"]').style.maxHeight = '#maxHeight#px'
        }
        if (is_numeric('#Height#')) {
            document.querySelector('.cmd[data-cmd_uid="#uid#"]').style.maxHeight = '#Height#px'
        }
    </script>
</div>